<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="textFilePath" value="D:\repos\TimCorey-Tournament_Tracker\TournamentTracker"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=(LocalDb)\MSSQLLocalDB;Database=Tournaments;
         Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>